.sidebarN {
    float: left;
    padding: 14px 16px;
    background-color: #363636;
    width: 10%;
    position: fixed;
    overflow: hidden;
    height: 100%;
}
.sidebarN a {
    color: black;
    text-shadow: 1px 1px 10px white;
    text-decoration: none;
    font-size: 20px;
    float: left;
}
.sidebarN a:hover {
    color: lime;
    text-shadow: 1px 1px 10px lime;
}


.images {
    display: inline-block;
    padding: 14px 16px;
    width: 80%;
}
.images h3 {
    color: white;
    text-shadow: 1px 1px 10px white;
}
.images img {
    width: 150px;
    height: 100px;
}


.codeView {
    background-color: black;
    padding: 14px 16px;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 10px white;
    text-decoration: none;
}
.codeView:hover {
    text-shadow: 1px 1px 10px aqua;
    color: aqua;
}