.itemlist {
    background-color: #363636;
    padding: 10px;
    box-shadow: 1px 1px 10px #363636;
    border: none;
}
.item {
    background-color: #262626;
    padding: 5px;
    color: white;
    width: 30%;
    display: inline-block;
}
.itemdesc {
    color: white;
    text-shadow: 1px 1px 10px white;
}
.itemdesc p {
    line-height: 2;
    position: relative;
}
.item h2 {
    color: white;
    text-shadow: 1px 1px 30px white;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    color: white;
    text-shadow: 1px 1px 10px white;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
}