.content {
    background-color: #262626;
    padding: 15px;
    border-color: aqua;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 1px 1px 10px aqua;
    display: inline-block;
}
.content li {
    font-size: 18px;
    text-align: left;
    padding: 5px;
}
.details {
    float: right;
}
.details li {
    display: inline-block;
    display: block;
}


.content2 {
    background-color: #262626;
    padding: 15px;
    border-color: aqua;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 1px 1px 10px aqua;
    display: inline-block;
}
.content2 li {
    font-size: 18px;
    text-align: left;
    padding: 5px;
}
.details2 {
    float: left;
}
.details2 li {
    display: inline-block;
    display: block;
}