.copyright {
    text-decoration: none;
    color: white;
    font-size: 28px;
    border-color: aqua;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 1px 1px 10px aqua;
    padding: 10px;
    text-shadow: 1px 1px 10px white;
}
.copyright:hover {
    border-color: lime;
    box-shadow: 1px 1px 10px lime;
    color: aqua;
    text-shadow: 1px 1px 10px aqua;
}


.copynotify {
    color: red;
    text-shadow: 1px 1px 10px red;
    background-color: #262626;
    text-align: center;
    padding: 10px;
    width: 30%;
    display: inline-block;
}
.copynotify a {
    text-decoration: none;
    font-size: 20px;
    color: lime;
    text-shadow: 1px 1px 10px lime;
    border-color: green;
    border-style: solid;
    padding: 14px 16px;
    width: 100%;
    object-fit: fill;
    background-color: green;
    box-shadow: 1px 1px 10px green;
}
.copynotify a:hover {
    background-color: darkgreen;
}
.copyrightfix {
    background-color: #262626;
    padding: 10px;
    display: inline-block;
    width: 300px;
}
.copyrightfix h2 {
    font-size: 28px;
    color: lime;
    text-shadow: 1px 1px 10px lime;
}