.downloadMe {
    text-decoration: none;
    font-size: 20px;
    padding: 16px 18px;
    color: aqua;
    text-shadow: 1px 1px 10px aqua;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.downloadMe:hover {
    color: aquamarine;
    text-shadow: 1px 1px 10px aquamarine;
}