.container {
    position: relative;
    box-shadow: 1px 1px 10px black;
    width: 20%;
    display: inline-block;
}
.text {
    background: none;
    width: 100%;
    object-fit: cover;
    transform: translate(-1%, -10%);
    align-items: center;
    justify-content: center;
    line-height: 10px;
}
.text a {
    float: left;
}