.container {
    position: relative;
    box-shadow: 1px 1px 10px black;
    width: 20%;
    display: inline-block;
}
.text {
    width: 100%;
    object-fit: cover;
    transform: translate(-1%, -10%);
    align-items: center;
    justify-content: center;
    line-height: 10px;
    background: none;
}
.text ul,li {
    object-fit: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.text li {
    font-size: 16px;
    float: left;
}
.text h3,h4 {
    color: aqua;
    text-shadow: 1px 1px 10px aqua;
}
.text a {
    float: left;
    background-image: linear-gradient(#363636, black);
    width: 35%;
    object-fit: cover;
    text-align: center;
    transform: translate(10%, -1%);
}
.text a:hover {
    background-image: linear-gradient(black, #363636);
}