.imgview {
    background-color: #262626;
    padding: 10px;
    color: lime;
    text-shadow: 1px 1px 10px lime;
    width: 350px;
    display: inline-block;
    border-radius: 10px;
    border-color: aqua;
    border-style: solid;
    box-shadow: 1px 1px 10px aqua;
}