.post {
    background-color: #262626;
    width: 30%;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.post i {
    text-align: left;
    float: left;
    font-size: 30px;
    color: white;
    padding: 10px;
    border-radius: 100%;
}
.post iframe {
    width: 50%;
}
.post h2 {
    text-align: left;
    margin-left: 50px;
    color: white;
    font-size: 16px;
}
.post h5 {
    text-align: left;
    color: white;
    margin-left: 50px;
}


.bgvideo iframe{
    height: 400px;
    width: 55%;
    float: left;
}
.svideo iframe {
    float: right;
    height: 200px;
    width: 45%;
}



#myInput {
    font-size: 14px;
    padding: 15px;
    background-color: #262626;
    width: 70%;
    color: white;
  }
  #myInput::placeholder {
      color: white;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    margin-top: -1px; /* Prevent double borders */
    background-color: #363636;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
    color: black;
  }



.heading h2{
    position: absolute;
    text-align: left;
    background-color: black;
    opacity: 0.8;
    float: left;
    padding: 14px 16px;
    margin: 0;
}