.recent {
    color: white;
}
.frameleft {
    padding: 10px;
}

.popular {
    color: white;
}
.frameright {
    padding: 10px;
}


.descright {
    width: 100%;
    text-align: center;
}
.descleft {
    width: 100%;
    text-align: center;
}