div.main {
    margin-left: 210px; /* Same as the width of the sidenav */
    color: white;
    padding: 0px 10px;
    text-align: center;
    background-color: rgb(19, 18, 18);
    opacity: 0.8;
    box-shadow: 1px 1px 10px black;
}
div.main h2 {
    color: red;
    text-shadow: 1px 1px 10px red;
}
div.main footer {
    color: white;
    padding: 5px;
    text-shadow: 1px 1px 10px white;
    font-size: 28px;
    background-color: black;
    opacity: 0.8;
}
div.main img {
    width: 250px;
    height: 300px;
    padding: 5px;
    border-color: aqua;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 1px 1px 10px aqua;
    opacity: 0.8;
}
div.main img:hover {
    opacity: 1;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #262626;
    opacity: 0.8;
    border-color: aqua;
    border-style: groove;
    box-shadow: 1px 1px 10px aqua;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}