div.main a {
    padding: 16px;
    font-size: 28px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 10px black;
    border: 3px solid aqua;
    border-radius: 10px;
    background-color: black;
    box-shadow: 1px 1px 10px aqua;
    text-shadow: 1px 1px 10px white;
}
div.main a:hover {
    color: aqua;
    border-color: red;
    box-shadow: 1px 1px 10px red;
    text-shadow: 1px 1px 10px aqua;
}