div.main {
    margin-left: 210px; /* Same as the width of the sidenav */
    color: white;
    padding: 0px 10px;
    text-align: center;
    background-color: black;
    opacity: 0.8;
    box-shadow: 1px 1px 10px black;
}
div.main a {
    padding: 16px;
    font-size: 28px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 10px black;
    border-color: aqua;
    border-style: groove;
    border-radius: 10px;
    background-color: black;
    box-shadow: 1px 1px 10px aqua;
}
div.main a:hover {
    color: aqua;
    border-color: red;
    box-shadow: 1px 1px 10px red;
}
div.main h2 {
    color: red;
    text-shadow: 1px 1px 10px red;
}
div.main footer {
    color: white;
    padding: 5px;
    text-shadow: 1px 1px 10px white;
    font-size: 28px;
    background-color: black;
    opacity: 0.8;
}
div.main img {
    width: 250px;
    height: 300px;
    padding: 5px;
    border-color: aqua;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 1px 1px 10px aqua;
    opacity: 0.8;
}
div.main img:hover {
    opacity: 1;
}