.menu {
    position: relative;
    display: inline-block;
}
.menubtn {
    background-color: #363636;
    font-size: 20px;
    border: none;
    color: white;
    text-shadow: 1px 1px 10px white;
    padding: 14px 16px;
    text-align: center;
    width: 500px !important;
    display: inline-block;
}
.menu-content {
    display: none;
}
.menu:hover .menu-content{
    display: block;
    background-color: black;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
}
.menu:hover .menubtn {
    background-color: gray;
    color: black;
    text-shadow: 1px 1px 10px black;
}
.menu-content img {
    width: 80px;
    height: 75px;
    object-fit: cover;
    display: inline-block;
    filter: grayscale(100%);
}
.menu-content img:hover {
    cursor: pointer;
    border-color: aqua;
    border-style: solid;
    filter: grayscale(0%);
    box-shadow: 1px 1px 10px aqua;
}