body {margin:0;}

#navbar {
    background-color: #363636;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    opacity: 0.8;
    transition: top 0.3s;
    overflow: hidden;
}
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px 10px white;
}
#navbar a:hover {
    background: white;
    color: black;
}
#navbar img{
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
#navbar button {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 10px white;
    transform: translate(-50%, -50%);
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    background: none;
    outline: none;
    padding: 14px 16px;
}

.center {
    text-align: center;
    float: none;
    display: inline-block;
}