body {margin:0;}

#navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    opacity: 0.8;
    transition: top 0.3s;
}
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px 10px white;
}
#navbar a:hover {
    background: white;
    color: black;
}
#navbar img{
    float: left;
    width: 50px;
    height: 50px;
}
.main {
    padding: 16px;
    margin-top: 50px;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 10px white;
    height: 100%;
}



div.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #262626;
    width: 100%;
    z-index: 1;
    color: white;
}  
div.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}  
div.subnav-content a:hover {
    background-color: #262626;
    color: white;
}
div.subnav:hover .subnav-content {
    display: block;
    display: inline-block;
}
div.subnav {
    float: left;
    overflow: hidden;
}  
div.subnav .subnavbtn {
    font-size: 18px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
div.subnav:hover .subnavbtn {
    background-color: white;
    color: black;
}