.pagination {
    display: inline-block;
  }
.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid white;
    box-shadow: 1px 1px 10px white;
    text-shadow: 1px 1px 10px white;
}
.pagination a.active {
    background-color: green;
    color: white;
    border: 1px solid white;
}  
.pagination a:hover:not(.active) {
    background-color: white;
    color:black;
    text-shadow:1px 1px 10px black;
}  
.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}