.prevpage {
    text-decoration: none;
    font-size: 24px;
    color: aqua;
    text-shadow: 1px 1px 10px aqua;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px white;
    padding: 10px;
}
.prevpage:hover {
    border-color: aqua;
    box-shadow: 1px 1px 10px aqua;
    color: white;
    text-shadow: 1px 1px 10px white;
}
.nextpage {
    text-decoration: none;
    font-size: 24px;
    color: aqua;
    text-shadow: 1px 1px 10px aqua;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px white;
    padding: 10px;
}
.nextpage:hover {
    border-color: aqua;
    box-shadow: 1px 1px 10px aqua;
    color: white;
    text-shadow: 1px 1px 10px white;
}