.bgimg img{
    height: 200px;
    width: 55%;
    float: left;
}
.simg img {
    float: right;
    height: 100px;
    width: 45%;
}


.header h2 {
    position: absolute;
    text-align: left;
    background-color: black;
    opacity: 0.8;
    float: left;
    padding: 14px 16px;
    margin: 0;
    cursor: context-menu;
    font-size: 20px;
}