.storeSide {
    float: left;
    width: 140px;
    overflow: hidden;
    padding: 5px;
    background-color: #262626;
    object-fit: fill;
    opacity: 0.8;
}
.storeSide img {
    width: 80px;
}
.storeSide button {
    background-color: black;
    outline: none;
    padding: 14px 16px;
    border-color: black;
    box-shadow: 1px 1px 10px black;
    color: white;
    text-shadow: 1px 1px 10px white;
    width: 100%;
    object-fit: fill;
}
.storeSide button:hover {
    cursor: pointer;
}

.divContainer {
    background-color: #363636;
}


.product {
    float: right !important;
    width: 150px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}
.product img {
    width: 80px;
}
.product button {
    background-color: black;
    outline: none;
    padding: 14px 16px;
    border-color: black;
    box-shadow: 1px 1px 10px black;
    color: white;
    text-shadow: 1px 1px 10px white;
    width: 100%;
    object-fit: fill;
}

.mproduct {
    display: inline-block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
}
.mproduct img {
    width: 80px;
}
.mproduct button {
    background-color: black;
    outline: none;
    padding: 14px 16px;
    border-color: black;
    box-shadow: 1px 1px 10px black;
    color: white;
    text-shadow: 1px 1px 10px white;
    width: 100%;
    object-fit: fill;
}