p {
    font-size: 18px;
    padding: 5px;
    background-color: black;
}

.storeSide {
    float: left;
    width: 180px;
    overflow: hidden;
    padding: 5px;
    background-color: #262626;
    object-fit: fill;
    opacity: 0.8;
}
.storeSide img {
    width: 80px;
}
.storeSide button {
    background-color: black;
    outline: none;
    padding: 14px 16px;
    border-color: black;
    color: white;
    width: 100%;
    object-fit: fill;
    opacity: 0.8;
    font-size: 18px;
}
.storeSide button:hover {
    cursor: pointer;
}

.divContainer {
    background-color: #363636;
}


.mproduct {
    display: inline-block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    width: 80%;
}
.mproduct button {
    background-color: black;
    outline: none;
    padding: 14px 16px;
    border-color: black;
    color: white;
    width: 100%;
    object-fit: fill;
    opacity: 0.8;
    font-size: 18px;
}
.mproduct button:hover {
    cursor: pointer;
}
.mproduct h2 {
    background-color: black;
    padding: 5px;
}


.info p {
    opacity: 0.8;
    text-align: center;
    display: inline-block;
}
.info {
    background-color: black;
    display: inline-block;
    width: 20%;
    padding: 5px;
    opacity: 0.8;
}
.info li {
    float: left;
}
hr.black {
    border-style: solid;
    border-color: black;
    box-shadow: 1px 1px 10px #262626;
}