table {
    width: 100%;
}
th {
    font-size: 28px;
    color: white;
    text-shadow: 1px 1px 10px white;
}
th,td {
    padding: 12px;
}
td {
    font-size: 18px;
    color: lime;
    text-shadow: 1px 1px 10x lime;
}
audio:hover, audio:focus, audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}