.toollink {
    text-decoration: none;
    text-shadow: 1px 1px 10px white;
    color: white;
    font-size: 24px;
    background-color: #262626;
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    box-shadow: 1px 1px 10px green;
}
.toollink:hover {
    border-color: red;
    box-shadow: 1px 1px 10px red;
    color: lime;
    text-shadow: 1px 1px 10px lime;
}
p {
    font-size: 20px;
    text-shadow: 1px 1px 10px white;
    border-radius: 10px;
}
p:hover {
    cursor: pointer;
}